[submodule "de/ip/rv_plic"]
	path = de/ip/rv_plic
	url = https://github.com/2002liush/rv_plic.git
[submodule "de/ip/fpu"]
	path = de/ip/fpu
	url = https://github.com/2002liush/cvfpu.git
[submodule "de/ip/apb_uart"]
	path = de/ip/apb_uart
	url = https://github.com/pulp-platform/apb_uart.git
[submodule "de/ip/ethernet"]
	path = de/ip/ethernet
	url = https://github.com/lowRISC/ariane-ethernet.git
